* {
    background: lightgray;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #333;
    margin-top: 90px;
    text-transform: lowercase;
    width: 400px; 
    height: 200px; 
    overflow: auto; 
}

::placeholder { color: #777; } 

.text-area:focus {
    outline: none;
}

/* resultado después de encriptar */
.mensaje {
    background: #ccc;
    background-image: url("imagenes/logo2.jpg");
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #333;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar, .btn-encriptar {
    border: 1px solid #666;
    border-radius: 24px;
    color: #333;
    cursor: pointer;
    height: 60px;
    width: 320px; 
    font-weight: bold;
}

.btn-desencriptar:hover, .btn-encriptar:hover {
    background: #666;
    color: #fff;
}

.informacion {
    color: #777;
    font-size: 18px;
}

.footer {
    text-align: center;
}
