* {
    background: #86A8E7;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871}
    .text-area:focus {
        outline: none;
    }

    .mensaje {
        background: white;
        background-image: url("imagenes/logo2.jpg");
        
        
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
        position: fixed;
    }

    .mensaje:focus {
        outline: none;
    }

    .botones {
        display: flex;
        margin-top: 18px;
    }

    .btn-desencriptar {
        background:lightpink;
        border: 1px solid purple;
        border-radius: 24px;
        color:black;
        cursor: pointer;
        height: 60px;
        margin-left: 30px;
        width: 320px;
        font-weight: bold;
    }

    .btn-encriptar {
        background-color:rgb(165, 71, 165);
        border: 1px solid lightpink;
        border-radius: 24px;
        color:black;
        cursor: pointer;
        height: 60px;
        width: 320px; 
        font-weight: bold;
    }

    .copiar {
        border: 1px solid rgb(165, 71, 165);
        border-radius: 24px;
        color:black;
        cursor: pointer;
        height: 60px;
        margin-left: 108px;
        margin-top: 402px;
        position: absolute;
        width: 320px;
        font-weight: bold;
    }

    .informacion {
        color: #495057;
        font-size: 18px;
    }

    .footer {
        text-align: center;
     
    }